body {
    background-color: black;
}

h1 {
    font-size: 2.5rem;
}

.poster {
    /* border: 2px solid red; */
    font-family: 'Libre Baskerville', serif;
    margin-top: 50px;
    width: 70%;
    color: white;
    margin-left: 15%;
    text-transform: capitalize;
    text-align: center;
}

img {
    border: 5px solid white;
    width: 100%;
}